@mixin flexbox($display:flex,$wrap:wrap,$direction:row,$alignItems:center,$justifycontent:normal) {
    display: $display;
    align-items:$alignItems ;
    justify-content: $justifycontent;
    flex-direction: $direction;
}
@mixin flex($shrink:0,$grow:1,$basis:100%) {
    flex-shrink:$shrink ;
    flex-grow: $grow;
    flex-basis: $basis;
}